In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime  
import datetime as dt

In [2]:
#Creating 
Data=pd.read_excel('excel.xlsx')
Sup=Data.Supplier_name.tolist()
Pro=Data.Raw_name.tolist()

In [3]:
#Random Number generation for Product Columns
np.random.seed(10)
df = pd.DataFrame(np.random.randint(1,11, size=(500,1)), columns=['Product'])
df.Product.unique()

array([10,  5,  1,  2,  9,  7,  4,  6,  3,  8])

In [4]:
#Product Supplier Combinations
prosup={1:(1,2,3,10),2:(4,5,10),3:(1,5,9,7,8),4:(4,6),5:(1,5,4,7),6:(7,8,9,10),7:(1,2,5),8:(7,3,5),9:(8,2,3),10:(4,8,9)}
def suplr(x):
    return random.choice(prosup[x])

df["Product_ID"]=df['Product']+55321
df['Supplier']=df['Product'].map(suplr)
df['Supplier_ID']=df['Supplier']+30147

In [5]:
#Supplier location Combiantions
locn={1:("USA","Canada"),2:('Canada','California','Chaina'),3:('UK','Italy'),4:('US','Canada'),5:['California'],6:('California','Canada'),7:('Australia','UK'),8:('USA','Australia'),9:['UK'],10:['USA']}
def location(x):
    return random.choice(locn[x])

In [6]:
#Supplier Currency Combiantions
cur={'UK':['EUR'],'Canada':['USD'], 'Italy':['EUR'], 'USA':['USD'], 'US':['USD'], 'California':['USD'], 'Australia':['AUD'],
       'Chaina':['CNY']}
def currency(x):
    return random.choice(cur[x])

In [7]:
#Supplier metric Combiantions
met={'USD':['Pound'],'EUR':['Pound'],'CNY':['Kilogram'],'AUD':['Kilogram']}
def metric(x):
    return random.choice(met[x])

In [8]:
#Supplier metric Combiantions
untprc={55322:(np.random.randint(20,33,size=12)),55323:(np.random.randint(40,50,size=25)),55324:(np.random.randint(2,7,size=16)),55325:(np.random.randint(20,29,size=10)),55326:(np.random.randint(18,25,size=20)),55327:(np.random.randint(100,123,size=20)),55328:(np.random.randint(12,15,size=2)),55329:(np.random.randint(10,23,size=10)),55330:(np.random.randint(7,13,size=21)),55331:(np.random.randint(23,27,size=19))}
def price(x):
    return random.choice(untprc[x])

In [9]:
#Supplier metric Combiantions
qnt={55322:(np.random.randint(120,233,size=20)),55323:(np.random.randint(140,250,size=25)),55324:(np.random.randint(232,700,size=36)),55325:(np.random.randint(420,929,size=30)),55326:(np.random.randint(1118,1425,size=20)),55327:(np.random.randint(100,193,size=20)),55328:(np.random.randint(120,150,size=22)),55329:(np.random.randint(100,230,size=110)),55330:(np.random.randint(257,913,size=21)),55331:(np.random.randint(1023,1227,size=50))}
def quantity(x):
    return random.choice(qnt[x])

In [10]:
df.head()

   Product  Product_ID  Supplier  Supplier_ID
0       10       55331         9        30156
1        5       55326         1        30148
2        1       55322        10        30157
3        2       55323         4        30151
4       10       55331         4        30151

In [12]:
Supp=dict(zip(range(1,11), Sup))
Prod=dict(zip(range(1,11), Pro))
#Dates                         
frmdt = pd.date_range('1/1/2017', periods=500, freq='D')
todt = pd.date_range('1/1/2019', periods=500, freq='D')
df['Product']=df['Product'].map(Prod)
df['Location']=df['Supplier'].map(location)
df['Supplier']=df['Supplier'].map(Supp)
df['Unit_Price']=df['Product_ID'].map(price)
df['Currency']=df['Location'].map(currency)
df['Quantity']=df['Product_ID'].map(quantity)
df['Metric']=df['Currency'].map(metric)
df['Quated_Price']=df.apply(lambda row: np.random.randint(row.Unit_Price-3,row.Unit_Price) * np.random.randint(row.Quantity-15,row.Quantity-5), axis=1)
df["Valid_From"]=(pd.to_datetime((np.random.choice(frmdt, size=500, replace=False))))
df["Valid_To"]=(pd.to_datetime((np.random.choice(todt, size=500, replace=False))))
#df['Status']=

In [13]:
#for i in Sup:
    #print(df.loc[df['Supplier']== i,"Product"].unique())

In [14]:
df.head()

,Product,Product_ID,Supplier,Supplier_ID,Location,Unit_Price,Currency,Quantity,Metric,Quated_Price,Valid_From,Valid_To
0,Chlorine Gas,55331,Ppg Industries Inc,30156,UK,23,EUR,1223,Pound,26620,2017-06-19,2020-04-16
1,Zinc White,55326,Ingersoll-rand Plc,30148,USA,24,USD,1410,Pound,32177,2018-03-22,2019-08-06
2,Rosin Soap,55322,Carlisle Companies Incorporated,30157,USA,20,USD,177,Pound,3192,2017-01-30,2019-08-24
3,AKD,55323,Chs Inc.,30151,US,49,USD,206,Pound,9264,2017-08-30,2019-03-02
4,Chlorine Gas,55331,Chs Inc.,30151,Canada,24,USD,1067,Pound,22134,2017-02-10,2019-09-22

In [15]:
df.to_excel('Sample.xlsx')